<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=colorObj.name%></title>
    <%-include('partials/head')%>
    <style>
      body {
        background: <%=colorObj.style.backgroundColor%>;
      }
    </style>
  </head>

  <body>
    <h2><%=colorObj.name%></h2>
    <p><%=colorObj.info%></p>
    <div>
      <h4>Key Concepts <span>/</span></h4>
      <h5><%=colorObj.key%></h5>
    </div>
    <div>
      <h4>Color Palettes <span>/</span></h4>
      <%for(let i=1;i<=4;i++){%>
      <img
        src="./color-palettes/<%=colorObj.name%>/<%=i%>.jpeg"
        alt="<%=colorObj.name%> palette"
        srcset=""
      />
      <%}%>
    </div>

    <a href="/">Home</a>
  </body>
</html>
