<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=colorObj.name%></title>
    <%-include('partials/head')%>
    <link rel="stylesheet" href="css/color-page.css" />
    <style>
      body {
        background: <%=colorObj.style.backgroundColor%>;
      }
    </style>
  </head>

  <body>
    <!-- Nav -->
    <%-include('partials/navbar')%>

    <div class="container-fluid" id="<%=colorObj.name.toLowerCase()%>-page">
      <div id="path">
        <a href="/">Home</a> >
        <a href="#<%=colorObj.name.toLowerCase()%>"><%=colorObj.name%></a> >
        <a class="active-page">More About <%=colorObj.name%></a>
      </div>
      <h2><%=colorObj.name%></h2>
      <p class="info"><%=colorObj.info%></p>
      <div>
        <h4>Key Concepts <span class="slash">/</span></h4>
        <h5><%=colorObj.key%></h5>
      </div>
      <section class="color-palettes">
        <h4>Color Palettes <span class="slash">/</span></h4>
        <%for(let i=1;i<=4;i++){%>
        <img
          src="./color-palettes/<%=colorObj.name%>/<%=i%>.jpeg"
          alt="<%=colorObj.name%> palette"
          srcset=""
        />
        <%}%>
      </section>

      <a href="/" class="home">Home</a>
    </div>
  </body>
</html>
