<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Psychology Of Color</title>
    <%-include('partials/head')%>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <!-- Nav -->
    <%-include('partials/navbar')%>

    <div class="container-fluid">
      <!-- Home -->
      <section id="main">
        <h1>The Psychology of color</h1>
        <a href="/info">Learn More</a>
        <div id="main-img-wrapper">
          <img src="graphics/mobile-home.svg" alt="" srcset="" />
        </div>
      </section>

      <!-- Pages -->
      <%for(let key in data){%>
      <section
        style="background: <%=data[key].style.backgroundColor%>"
        id="<%=key%>"
        class="color-section"
      >
        <h2><%=data[key].name%></h2>
        <p><%=data[key].intro%></p>

        <div>
          <a href="/<%=key%>" class="learn-more">Learn More</a>
          <a href="/" class="home">Home</a>
        </div>
      </section>

      <%}%>
    </div>
  </body>
</html>
